@font-face {
    font-family: 'FontCustom1';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/babylonica.regular.ttf'), url("../../assets/fonts/monallesiascript.woff2") format("woff2"), url("../../assets/fonts/monallesiascript.woff") format("woff");
}

@font-face {
    font-family: 'FontCustom2';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/miama.regular.otf'), url("../../assets/fonts/monallesiascript.woff2") format("woff2"), url("../../assets/fonts/monallesiascript.woff") format("woff");
}

@font-face {
    font-family: 'FontCustom3';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/miama.regular.ttf'), url("../../assets/fonts/monallesiascript.woff2") format("woff2"), url("../../assets/fonts/monallesiascript.woff") format("woff");
}

h1, h2, h3, h4, h5, h6{
    font-family: FontCustom3;
}
.wpo-contact-section .wpo-contact-section-wrapper .wpo-section-title h2, .wpo-contact-section-s2 .wpo-contact-section-wrapper .wpo-section-title h2, .wpo-contact-section-s3 .wpo-contact-section-wrapper .wpo-section-title h2, .wpo-contact-section-s4 .wpo-contact-section-wrapper .wpo-section-title h2, .wpo-contact-section-s5 .wpo-contact-section-wrapper .wpo-section-title h2, .wpo-contact-section-s6 .wpo-contact-section-wrapper .wpo-section-title h2, .wpo-contact-section-s7 .wpo-contact-section-wrapper .wpo-section-title h2, .wpo-contact-section-s8 .wpo-contact-section-wrapper .wpo-section-title h2{
    font-family: FontCustom3;
    font-size: 55px;
}
.wpo-site-footer .widget-title h3, .wpo-site-footer-s2 .widget-title h3, .wpo-site-footer-s3 .widget-title h3, .wpo-site-footer-s4 .widget-title h3, .wpo-site-footer-s5 .widget-title h3{
    font-family: FontCustom3;
    font-size: 87px;
}
.static-hero .slide-title h2{
    font-size: 87px;
}
.wpo-section-title h4, .wpo-section-title-s2 h4{
    font-size: 75px;
    color: black;
}
.wpo-event-section .wpo-event-wrap .wpo-event-item h4{
    font-size: 48px;
}
.wpo-section-title h2, .wpo-section-title-s2 h2{
    color: #939580;
    font-size: 27px;
    margin-top: 2px;
}
.wpo-story-section .wpo-story-item .wpo-story-content h2, .wpo-story-section-s2 .wpo-story-item .wpo-story-content h2{
    font-size: 54px;
}
.bottom-text h2{
    font-size: 80px;
}
.wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2, .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2{
    font-size: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2 div:nth-child(2), .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2 div:nth-child(2){
    margin: -29px 0px;
}
.wpo-invitation-area-s2 .wpo-event-item .wpo-event-text ul li:last-child, .wpo-coming-soon-area .wpo-event-item .wpo-event-text ul li:last-child{
    margin-top: 10px;
}
.wpo-invitation-area-s2 .wpo-event-item .wpo-event-text ul li:last-child a, .wpo-coming-soon-area .wpo-event-item .wpo-event-text ul li:last-child a{
    color: black;
}
.wpo-invitation-area-s2 .wpo-event-item .wpo-event-text ul li:last-child a:before, .wpo-coming-soon-area .wpo-event-item .wpo-event-text ul li:last-child a:before{
    height: 0px;
}
.wpo-page-title .wpo-breadcumb-wrap h2{
    font-size: 84px;
}
.wpo-contact-pg-section .wpo-contact-title h2{
    font-size: 5.33333rem;
    margin-bottom: -2px;
}


.wpo-invitation-area-s2 .title{
    margin-top: 22px;
}

.wpo-invitation-area-s2 .wpo-event-text .header-family{
    display: flex;
    justify-content: space-evenly;
}
.wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name{
    display: flex;
    font-weight: bolder;
    align-items: center;
}
.wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name div:nth-child(1){
    margin-right: 5px;
    font-size: 17px;
}
.wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name div:nth-child(2){
    text-transform: uppercase;
}
.wpo-invitation-area-s2 .wpo-event-item .wpo-event-text img{
    width: 91px;
    position: absolute;
    right: 0;
    position: absolute;
    margin-inline: auto;
    bottom: 0;
}
@media (max-width: 1800px) {
    .bottom-text h2 {
        font-size: 75px;
    }
}
@media (max-width: 1600px) {
    .bottom-text h2 {
        font-size: 77px;
    }
}
@media (max-width: 1199px) {
    .static-hero .slide-title h2{
        font-size: 77px;
    }
    .wpo-story-section .wpo-story-item .wpo-story-content h2, .wpo-story-section-s2 .wpo-story-item .wpo-story-content h2{
        font-size: 51px;
    }
    .bottom-text h2 {
        font-size: 51px;
    }
}
@media (max-width: 1100px) {
    .static-hero .slide-title h2{
        font-size: 82px;
    }
}
@media (max-width: 991px) {
    .bottom-text h2 {
        font-size: 41px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2, .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2{
        font-size: 62px;
    }
}
@media (max-width: 767px) {
    .wpo-section-title h4, .wpo-section-title-s2 h4{
        font-size: 70px;
    }
    .wpo-section-title h2, .wpo-section-title-s2 h2{
        font-size: 22px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2, .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2{
        font-size: 56px;
    }
    .wpo-page-title .wpo-breadcumb-wrap h2 {
        font-size: 59px;
    }

    .wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name div:nth-child(1){
        margin-right: 3px;
        font-size: 13px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text p, .wpo-coming-soon-area .wpo-event-item .wpo-event-text p{
        font-size: 16px;
        margin-top: 10px;
    }
}
@media (max-width: 575px) {
    .static-hero .slide-title h2{
        font-size: 77px;
    }
    .wpo-section-title h4, .wpo-section-title-s2 h4{
        font-size: 49px;
    }
    .wpo-story-section .wpo-story-item .wpo-story-content h2, .wpo-story-section-s2 .wpo-story-item .wpo-story-content h2{
        font-size: 50px;
    }
    .wpo-section-title h2, .wpo-section-title-s2 h2{
        font-size: 18px;
    }
    .wpo-event-section .wpo-event-wrap .wpo-event-item h4{
        font-size: 39px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2, .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2{
        font-size: 50px;
        flex-direction: column;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2 div:nth-child(2), .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2 div:nth-child(2){
        margin: -21px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text ul, .wpo-coming-soon-area .wpo-event-item .wpo-event-text ul{
        margin-top: 30px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text p, .wpo-coming-soon-area .wpo-event-item .wpo-event-text p{
        font-size: 14px;
        margin-top: 9px;
    }
}
@media (max-width: 475px) {
    .wpo-invitation-area-s2 .wpo-event-text .header-family{
        margin: 0px -21px;
    }
    .wpo-invitation-area-s2 .address{
        font-size: 14px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text p, .wpo-coming-soon-area .wpo-event-item .wpo-event-text p{
        font-size: 13px;
        margin-top: 8px;
    }
}

@media (max-width: 450px) {
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text ul li, .wpo-coming-soon-area .wpo-event-item .wpo-event-text ul li{
        font-size: 12px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text ul li:nth-child(1), .wpo-coming-soon-area .wpo-event-item .wpo-event-text ul li:nth-child(1){
        text-wrap-mode: nowrap;
    }
}

@media (max-width: 421px) {
    .wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name div:nth-child(2) {
        font-size: 11px;
    }
    .wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name div:nth-child(1){
        font-size: 11px;   
    }
    .wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail i{
        font-size: 12px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text p, .wpo-coming-soon-area .wpo-event-item .wpo-event-text p{
        font-size: 12px;
        margin-top: 7px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2, .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2{
        font-size: 41px;
    }
    .wpo-invitation-area-s2 .address{
        font-size: 12px;
    }
}

@media (max-width: 344px) {
    .wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name div:nth-child(2) {
        font-size: 9px;
    }
    .wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail .box-name div:nth-child(1){
        font-size: 8px;   
    }
    .wpo-invitation-area-s2 .wpo-event-text .header-family .family-detail i{
        font-size: 12px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text p, .wpo-coming-soon-area .wpo-event-item .wpo-event-text p{
        font-size: 9px;
        margin-top: 7px;
    }
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text h2, .wpo-coming-soon-area .wpo-event-item .wpo-event-text h2{
        font-size: 36px;
    }
    .wpo-invitation-area-s2 .address{
        font-size: 11px;
    }
}
@media (max-width: 310px) {
    .wpo-invitation-area-s2 .wpo-event-item .wpo-event-text ul li, .wpo-coming-soon-area .wpo-event-item .wpo-event-text ul li{
        font-size: 10px;
    }
    .wpo-invitation-area-s2 .address{
        font-size: 10px;
    }
}
.wpo-contact-form-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wpo-contact-form-area form{
    width: 100%;
}
.wpo-contact-form-area img:nth-child(1){
    width: 60%;
    padding: 0rem 1rem;
    text-align: center;
    margin-bottom: 3rem;
}
.office-info-item{
    border: solid #939580 1px;
}
.office-info-text{
    margin-top: 11px;
}
.wpo-contact-pg-section .wpo-contact-form-area{
    padding-bottom: 0px;
    margin-bottom: 55px;
}
.wpo-site-footer .logo img{
    width: 212px;
}
.home-re-style #event .event-description h2{
    color: black;
    font-size: 42px;
    font-weight: 300;
} 
.home-re-style #story .wpo-section-title h2{
    max-width: 80%;
    margin-top: 15px;
}

.home2.home-re-style .wpo-static-hero-inner .slide-text{
    margin-top: 3rem;
}
.home-re-style #event .wpo-event-time h4,
.home-re-style #event .wpo-event-time h5{
    text-align: center;
}
.home-re-style #event .wpo-event-time h5{
    font-size: 25px;
}
.contact-validation-active #c-success, .contact-validation-active #success{
    background-color: darkgray;
    border-left: none;
}
#c-loader i{
    color: white!important;
}
.static-hero .static-hero-img img:nth-child(2){
    display: none;
}

.circle-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(181, 162, 189, 0.7);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 10px 0;
    transition: background-color 0.3s;
}
.circle-button:hover {
    background-color: #B5A2BD;
}
.back-to-top{
    width: 60px;
    height: 60px;
}

.tooltip {
    position: absolute;
    right: 60px;
    bottom: 50%;
    transform: translateY(50%);
    background-color: #B5A2BD;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 10;
}
.circle-button:hover .tooltip {
    opacity: 1;
}

.triangle {
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #B5A2BD;
}

@media (max-width: 991px) {
    .wpo-couple-section .couple-area .couple-item .couple-text .couple-bg, .wpo-couple-section-s2 .couple-area .couple-item .couple-text .couple-bg{
        bottom: -45px;
    }
    .static-hero .static-hero-img img:nth-child(1){
        display: none;
    }
    .static-hero .static-hero-img img:nth-child(2){
        display: block;
    }    
}
@media (max-width: 767px) {
    .home-re-style #event .event-description h2{
        font-size: 35px;
    }
    .wpo-contact-pg-section .wpo-contact-form-area{
        padding-top: 42px;
    }
}
@media (max-width: 575px){
    .home-re-style #event .event-description h2{
        font-size: 30px;
    }
}
@media (max-width: 500px) {
    .home-re-style .wedding-date-wrap #clock .box{
        display: none;
    }

    .home2.home-re-style .rtl-static-hero .wpo-static-hero-inner{
        margin-top: -86px;
        padding-top: 0px;
    }
    .home2.home-re-style .wpo-static-hero-inner .slide-text{
        display: none;
    }
    .wpo-contact-form-area img:nth-child(1){
        width: 68%;
    }
}
@media (max-width: 480px) {
    .wpo-couple-section .couple-area .couple-item .couple-text .couple-bg, .wpo-couple-section-s2 .couple-area .couple-item .couple-text .couple-bg{
        bottom: -87px;
    }
}
@media (max-width: 400px) {
    .wpo-contact-form-area img:nth-child(1){
        width: 75%;
    }
    .wpo-couple-section .couple-area .couple-item .couple-text .couple-bg, .wpo-couple-section-s2 .couple-area .couple-item .couple-text .couple-bg{
        bottom: -119px;
    }
    .wpo-couple-section .couple-area .col:last-child .couple-item .couple-text .couple-bg, .wpo-couple-section-s2 .couple-area .col:last-child .couple-item .couple-text .couple-bg{
        bottom: -70px;
    }
    .wpo-couple-section .couple-area .couple-item .couple-text h3, .wpo-couple-section-s2 .couple-area .couple-item .couple-text h3{
        font-size: 22px;
    }
    .wpo-couple-section .couple-area .col:last-child .couple-item .couple-text h3, .wpo-couple-section-s2 .couple-area .col:last-child .couple-item .couple-text h3{
        font-size: 22px;
    }
}
@media (max-width: 350px) {
    
}

.ltr-content{
    direction: ltr;
}

.rtl-content{
    direction: rtl;
}

.home-re-style #couple .couple-item,
.home-re-style #couple .couple-item .couple-img,
.home-re-style #couple .couple-item .couple-img img{
    border-radius: 0px;
}

.home-re-style #gallery .order-2{
    display: none;
}

.home-re-style #gallery .order-3 .sortable-gallery .portfolio-grids div.grid:nth-child(3),
.home-re-style #gallery .order-3 .sortable-gallery .portfolio-grids div.grid:nth-child(4),
.home-re-style #gallery .order-3 .sortable-gallery .portfolio-grids div.grid:nth-child(6){
    display: none;
}

@media (min-width: 768px) {
    .home-re-style #couple .couple-item,
    .home-re-style #couple .couple-item .couple-img,
    .home-re-style #couple .couple-item .couple-img img{
        border-radius: 250px 250px 0px 0px;
    }

    .home-re-style #gallery .order-2{
        display: block;
    }

    .home-re-style #gallery .order-3 .sortable-gallery .portfolio-grids div.grid:nth-child(3),
    .home-re-style #gallery .order-3 .sortable-gallery .portfolio-grids div.grid:nth-child(4),
    .home-re-style #gallery .order-3 .sortable-gallery .portfolio-grids div.grid:nth-child(6){
        display: block;
    }
}