.home2.home-re-style .wpo-static-hero-inner .slide-text{
    margin-top: 3rem;
}
@media (max-width: 500px) {
    .home-re-style .wedding-date-wrap #clock .box{
        display: none;
    }

    .home2.home-re-style .rtl-static-hero .wpo-static-hero-inner{
        margin-top: -86px;
        padding-top: 0px;
    }
    .home2.home-re-style .wpo-static-hero-inner .slide-text{
        display: none;
    }
}

.ltr-content{
    direction: ltr;
}

.rtl-content{
    direction: rtl;
}